.booking{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    h1,h2{
        color: var(--Onyx);
    }
    .booking__icons{
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        position: absolute;
        top: 20px;
        width: 90%;
        .booking__icon{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-radius: 20px;
            img{
                width: 25px;
                height: 25px;
                cursor: pointer;
                margin: 2px;
            }
        }
    }
    .booking__details{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px 20px 0 0;
        padding: 20px;
        margin-top: -20px;
        background-color: #fff;
        width: 100%;
        .booking__details--infos{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            margin-bottom: 20px;
            h1{
                margin: 5px 0;
                font-size: 24px;
            }
            .booking__details--pays{
                display: flex;
                color: var(--AuroMetalSaurus);
                img{
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }
            }
        }
        .booking__details--description{
            margin-bottom: 20px;
            h2{
                font-size: 20px;
            }
            p{
                color: var(--AuroMetalSaurus);
                span{
                    color: var(--CeladonBlue);
                    text-decoration: underline;
                    font-weight: var(--Medium);
                }
            }
        }
        .booking__details--options{
            width: 100%;
            margin-bottom: 20px;
            h2{
                font-size: 20px;
            }
            .booking__details--options--details{
                display: flex;
                align-items: center;
                gap: 10px;
                overflow-x: auto;
                white-space: nowrap;
                height: 75px;
                width: 100%;
                padding: 0 10px;
                &::-webkit-scrollbar {
                    display: none;
                }
                -ms-overflow-style: none;
                scrollbar-width: none;
                p{
                    width: fit-content;
                    height: fit-content;
                    padding: 5px 10px;
                    border: 1px solid var(--Manatee);
                    color: var(--AuroMetalSaurus);
                    border-radius: 10px;
                }
            }
        }
        .booking__details--proprio{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 20px;
            .booking__details--proprio--img{
                display: flex;
                align-items: center;
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                p{
                    color: var(--AuroMetalSaurus);
                }
            }
            .btn{
                display: flex;
                border: 2px solid var(--CeladonBlue);
                border-radius: 10px;
                padding: 10px;
                font-weight: var(--Medium);
                &:hover{
                    background-color: var(--CeladonBlue) !important; 
                    color: #fff !important;
                    img{
                        filter: invert(100%) brightness(1000%) contrast(100%);
                    }
                }
                img{
                    width: 20px;
                    margin-right: 5px;
                    filter: invert(30%) sepia(80%) saturate(500%) hue-rotate(150deg);
                }
            }
        }
        .booking__details--galerie{
            margin-bottom: 20px;
            width: 100%;
            h2{
                font-size: 20px;
                margin-bottom: 10px;
            }
            .booking__details--galerie--imgs{
                display: flex;
                justify-content: center;
                width: 100%;
                gap: 10px;
                img{
                    width: 30%;
                    border-radius: 5px;
                }
            }
        }
        .booking__details--booking{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 60px;
            .booking__details--booking--price{
                color: var(--AuroMetalSaurus);
                span{
                    color: var(--CeladonBlue);
                    font-weight: var(--SemiBold);
                }
            }
            .btn{
                display: flex;
                border: 2px solid var(--CeladonBlue);
                border-radius: 10px;
                padding: 10px;
                font-weight: var(--Medium);
                &:hover{
                    background-color: var(--CeladonBlue) !important; 
                    color: #fff !important;
                }
            }
        }
        a{
            text-decoration: none;
        }
    }
}