:root {

    //Colors
    --CeladonBlue : #1783A5;
    --Onyx : #363843;
    --AuroMetalSaurus : #727584;
    --Manatee : #9B9CA1;
    --Magnolia: hsl(217, 100%, 97%);

    //Font Weight
    --Regular : 400;
    --Medium : 500;
    --SemiBold : 600;



}
