header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 70px;
    background-color: var(--Magnolia);
    .header__container{
        display: flex;
        gap: 20px;
        font-weight: var(--Medium);
        .header__img{
            width: 50px;
            border-radius: 50px;
            cursor: pointer;
        }
    }
    .header__icon{
        width: 30px;
        cursor: pointer;
    }
    .header__search{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            font-size: 10px;
            color: var(--CeladonBlue);
            margin-bottom: 10px;
        }
    }
}